<h1 class="mt-3">Pipes <small>Angular</small></h1>

<div class="row container">
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ raro }}</td>
                    <td>capitalizado</td>
                    <!-- argumento todos = true por defecto 
                    para capitalizar todo -->
                    <td>{{ raro | capitalizado }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>uppercase</td>
                    <td>{{ nombre | uppercase}}</td>
                </tr>
                <tr>
                    <!-- elimina las posiciones pasadas por argumento desde el incio -->
                    <td>{{ nombre }}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice:3}}</td>
                </tr>
                <tr>
                    <!-- elimina las posiciones pasadas por argumento desde el incio hasta el argumento -->
                    <td>{{ nombre }}</td>
                    <td>slice:2:6</td>
                    <td>{{ nombre | slice:2:6}}</td>
                </tr>
                <tr>
                    <!-- elimina las posiciones pasadas por argumento desde el incio hasta el argumento -->
                    <td>{{ arreglo }}</td>
                    <td>slice:2:6</td>
                    <td>{{ arreglo | slice:2:6}}</td>
                </tr>
                <tr>
                    <!-- elimina las posiciones pasadas por argumento desde el incio hasta el argumento -->
                    <td>{{ PI }}</td>
                    <td>number</td>
                    <td>{{ PI | number }}</td>
                    <!-- number: lo convierte a un numero de 3 decimales redondeando -> 3.142 -->
                    <!-- number: '1.0-0' la primera parte (1.) es la cantidad de digitos
                       solo digitos sin decimales -> 3 -->
                    <!-- number: '3.0-0' la primera parte (3.) es la cantidad de digitos,
                      si es menor los rellena con 0 solo digitos sin decimales -> 003 -->
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number: '3.0-0'</td>
                    <td>{{ PI | number: '3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number: '.0-3'</td>
                    <td>{{ PI | number: '.0-3' }}</td>
                    <!-- siempre los redondea -->
                    <!-- number: '.0-2' digitos con 2 decimales de largo -> 3.14 -->
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent: '2.2-2'</td>
                    <td>{{ porcentaje | percent: '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency </td>
                    <td>{{ salario | currency }}</td>
                    <!-- para cambiar la moneda, se hace con el codigo de pais del ISA 4017 -->
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency: 'EUR' </td>
                    <td>{{ salario | currency: 'EUR' }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency: 'RUPIAS ':'symbol-narrow':'.0-0' </td>
                    <td>{{ salario | currency:'RUPIAS':'symbol-narrow':'.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{ promesa }}</td>
                    <td> async </td>
                    <td>{{ promesa | async }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date </td>
                    <td>{{ fecha | date }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'medium'</td>
                    <td>{{ fecha | date: 'medium' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'short'</td>
                    <td>{{ fecha | date: 'short' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'dd/MMM/Y'</td>
                    <td>{{ fecha | date: 'dd/MMMM/Y' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'dd/MMM/Y'</td>
                    <!-- los argumentos que no ocuparemos los mandamos vacios -->
                    <td>{{ fecha | date: 'dd/MMMM/Y':'':'en' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'dd/MMM/Y':'':'fr'</td>
                    <td>{{ fecha | date: 'dd/MMMM/Y':'':'fr' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'dd/MMM/Y:'':'{{ idioma }}'
                        <br>
                        <button (click)="idioma = 'es'" type="button " class="btn btn-outline-primary btn-sm ">ES</button>
                        <button (click)="idioma = 'en'" type="button " class="btn btn-outline-primary btn-sm ">EN</button>
                        <button (click)="idioma = 'fr'" type="button " class="btn btn-outline-primary btn-sm ">FR</button>
                    </td>
                    <td>{{ fecha | date: 'dd/MMMM/Y ':' ': idioma }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- aplicando slice al ngFor directamente -->
    <!-- se comporta igual que el arreglo, corta posiciones -->
    <div class="row container ">
        <h4>Slice</h4>
        <ul>
            <li *ngFor="let ar of arreglo | slice:2:7 "> {{ ar}} </li>
        </ul>
    </div>

    <!-- puede fallar con json que tienen funciones -->
    <div class="container ">
        <h3>JSON</h3>
        <div class="row ">
            <div class="col ">
                <pre>
                  {{ heroe | json }}
                </pre>
            </div>
        </div>
    </div>
</div>